<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.campus.mapper.ActivityRegistrationMapper">

    <resultMap id="BaseResultMap" type="com.xiaoyu.campus.model.entity.ActivityRegistration">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="activityId" column="activityId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="signupTime" column="signupTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activityId,userId,
        signupTime
    </sql>
</mapper>
